@{
    ViewData["Title"] = "Crytal Eyes | Đăng nhập";
    Layout = "_CustomerLayout";
}


<!-- breadcrumb -->
<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
			Trang chủ
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>
		<span class="stext-109 cl4">
			Đăng nhập
		</span>
	</div>
</div>


<!-- Content page -->
<section class="bg0 p-t-65 p-b-60">
	<div class="container">
		<div class="d-flex justify-content-center align-items-center">

			<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md custom-rounded-s-small ">
				<form>
					<h4 class="mtext-105 cl2 txt-center p-b-30">
						Thông tin đăng nhập
					</h4>

					<div class="bor8 m-b-20 how-pos4-parent custom-rounded-form">
						<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="email" required
							   placeholder="Email*" name="email">
					</div>
					<div class="bor8 m-b-20 how-pos4-parent custom-rounded-form">
						<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" required
							   placeholder="Mật khẩu*" name="password">
					</div>

					<!-- Thêm liên kết Quên mật khẩu -->
					<div class="text-end p-b-20">
						<a href="/customer/forgotpassword" class="mtext-101 cl2 hov-cl1" style="font-size: 14px;">Quên mật khẩu?</a>
						<span>
							|
						</span>
						<a href="/customer/register" class="mtext-101 cl2 hov-cl1" style="font-size: 14px;">Đăng ký tài khoản.</a>
					</div>

					<button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
						Xác nhận
					</button>
				</form>
			</div>

		</div>
	</div>
</section>	