@{
    ViewData["Title"] = "Crytal Eyes | Chi tiết đơn hàng";
    Layout = "_CustomerLayout";
}




<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
			Trang chủ
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>
		<a href="/customer/profile" class="stext-109 cl8 hov-cl1 trans-04">
			Thông tin tài khoản
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>
		<a href="/customer/historyorder" class="stext-109 cl8 hov-cl1 trans-04">
			Đơn hàng của bạn
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>
		<span class="stext-109 cl4">
			Chi tiết đơn hàng
		</span>
	</div>
</div>

<section class="intro p-t-65 p-b-60">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="card custom-rounded-s-small">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover mb-0">
								<thead>
									<tr>
										<th>Tên sản phẩm</th>
										<th>Ảnh</th>
										<th>Giá</th>
										<th>Số lượng</th>
										<th>Tổng giá</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Gọng kính</td>
										<td>
											<img class="wrap-pic-s size-109 bor0" src="https://kinhmatanna.com/_next/image?url=https%3A%2F%2Fcms.kinhmatanna.com%2Fwp-content%2Fuploads%2F2025%2F01%2FANNA_22559_3845_5_11zon-scaled.webp&w=384&q=75"
												 alt="AVATAR">
										</td>
										<td>300.00VNĐ</td>
										<td>2</td>
										<td>600.000VNĐ</td>
									</tr>
								</tbody>
							</table>


							<div class="flex-l-m flex-w w-full p-t-10 m-lr--7 justify-content-center">
								<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
									<i class="zmdi zmdi-arrow-left"></i>
								</a>
								<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
									1
								</a>

								<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7">
									2
								</a>
								<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
									<i class="zmdi zmdi-arrow-right"></i>
								</a>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>