@{
	ViewData["Title"] = "Crytal Eyes | Không tìm thấy trang";
	Layout = "_GuestLayout";
}



<section class="bg-img1 txt-center" style="height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1 class="ltext-105 txt-center" style="font-size: 100px; color: #f44336;">404</h1>
    <h2 class="ltext-105 txt-center" style="font-size: 40px; color: #666;">Trang bạn tìm không tồn tại hoặc đã bị xóa. 😢</h2>
    <div style="margin-top: 20px;">
        <a href="@Url.Action("Index", "Home")" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" style="font-size: 16px; padding: 10px 20px;">Quay lại trang chủ</a>
    </div>
</section>


