@{
    ViewData["Title"] = "Crytal Eyes | Đặt lại mật khẩu";
    Layout = "_CustomerLayout";
}


<!-- breadcrumb -->
<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
			Trang chủ
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>
		<a href="/login" class="stext-109 cl8 hov-cl1 trans-04">
			Đăng nhập
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>
		<a href="/forgot-password" class="stext-109 cl8 hov-cl1 trans-04">
			Quên mật khẩu
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>
		<a href="/otp" class="stext-109 cl8 hov-cl1 trans-04">
			OTP
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>
		<span class="stext-109 cl4">
			Đặt lại mật khẩu
		</span>
	</div>
</div>


<!-- Content page -->
<section class="bg0 p-t-65 p-b-60">
	<div class="container">
		<div class="d-flex justify-content-center align-items-center">

			<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md custom-rounded-s-small ">

				<form>
					<h4 class="mtext-105 cl2 txt-center p-b-30">
						Đặt lại mật khẩu
					</h4>

					<div class="bor8 m-b-20 how-pos4-parent custom-rounded-form">
						<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" required
							   placeholder="Mật khẩu mới*" name="newpassword">
					</div>
					<div class="bor8 m-b-20 how-pos4-parent custom-rounded-form">
						<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" required
							   placeholder="Xác nhận mật khẩu mới*" name="re-newpassword">
					</div>

					<button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
						Xác nhận
					</button>
				</form>

			</div>

		</div>
	</div>
</section>	