@{
    ViewData["Title"] = "Crytal Eyes | Xác thực";
    Layout = "_GuestLayout";
}



<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-t-150 p-b-50">
	<h2 class="ltext-105 txt-center">
		Xác thực tài khoản
	</h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-104 p-b-116">
	<div class="container">
		<div class="flex-w flex-tr justify-content-center" style="gap: 40px;">
			<div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md custom-rounded-s-small">
				@if (ViewBag.IsSuccess != null && (bool)ViewBag.IsSuccess == true)
				{
					<div class="text-center m-b-28">
						<span class="mtext-110 cl2 text-success" style="font-size: 28px;">
							@ViewBag.Message &#128525;
						</span>
					</div>
					<div>
						<a href="@Url.Action("Login", "Home")" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">Đăng nhập ngay!</a>
					</div>
				}
				else
				{
					<div class="text-center m-b-28">
						<span class="mtext-110 cl2 text-danger" style="font-size: 28px;">
							@ViewBag.Message &#128546;
						</span>
					</div>
					<div>
						<a href="@Url.Action("Register", "Home")" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">Đăng ký ngay!</a>
					</div>
				}
			</div>
		</div>
	</div>
</section>	